*{
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: normal;
}


body{

}

.modal-open {
    overflow: hidden;
}


button:focus{
    outline:0px;
    }

    @media screen and (min-width: 1280px) {
        .header{
            height: 120px;
        }
        .header-wrapper{
            width: 1200px;
            height: 60px;
        }
        .header-logo{
            width: 190px;
            height: 60px;
        }
        .header-logo__title{
            width: 190px;
            height: 35px;
            font-size: 32px;
        }
        .header-logo__subtitle{
            width: 190px;
            height: 15px;
            font-size: 13px;
        }
        .navbar-list{
            width: 443px;
            height: 27px;
        }
        .navbar-list__link{
            font-size: 15px;
        }
        .our-pets{
            height: 1462px;
        }
        .our-pets-content{
            width: 1200px;
            height: 1162px;
            margin-top: 80px;
        }
        .our-pets-content__header{
            width: 410px;
            height: 90px;
            font-size: 35px;
        }
        .our-pets-content-slider{
            grid-template-columns: repeat(4, 270px);
            grid-template-rows: repeat(2, 435px);
            grid-row-gap: 30px;
            width: 1200px;
            height: 900px;
        }
        .pagination{
            width: 340px;
            height: 52px;
        }
        .footer{
            height: 350px;
        }
        .footer-content{
            width: 1200px;
            height: 310px;
            justify-content: space-between;
        }
        .footer-content-contacts{
            width: 278px;
            height: 234px;
            margin-bottom: 43px;
        }
        .footer-content-contacts__header{
            width: 280px;
            height: 90px;
            font-size: 35px;
        }
        .footer-content-contacts__email{
            width: 278px;
            height: 32px;
        }
        .footer-content-contacts__email-icon{
            width: 40px;
            height: 32px;
        }
        .footer-content-contacts__email-address{
            width: 218px;
            height: 23px;
            font-size: 20px;
        }
        .footer-content-contacts__phone-number{
            width: 279px;
            height: 32px;
        }
        .footer-content-contacts__phone-number-icon{
            width: 40px;
            height: 32px;
        }
        .footer-content-contacts__phone-number-link{
            width: 219px;
            height: 23px;
            font-size: 20px;
        }
        .footer-content-locations{
            width: 302px;
            height: 234px;
            margin-bottom: 43px;
        }
        .footer-content-locations__header{
            width: 270px;
            height: 90px;
            font-size: 35px;
        }
        .footer-content-locations__central-street{
            width: 302px;
            height: 46px;
        }
        .footer-content-locations__central-street-icon{
            width: 22px;
            height: 32px;
        }
        .footer-content-locations__central-street-link{
            width: 260px;
            height: 46px;
            font-size: 20px;
        }
        .footer-content-locations__south-park{
            width: 302px;
            height: 32px;
        }
        .footer-content-locations__south-park-icon{
            width: 22px;
            height: 32px;
        }
        .footer-content-locations__south-park-link{
            width: 260px;
            height: 23px;
            font-size: 20px;
        }
        .footer-content__img{
            width: 300px;
            height: 310px;
        }
        .b-popup-wrapper{
            width: 952px;
            height: 552px;
        }
        .b-popup .b-popup-content{
            width: 900px;
            height: 500px;
        }
        .b-popup-content__img img{
            width: 500px;
            height: 500px;
        }
        .b-popup-content-description{
            margin: 50px 20px 88px 29px;
        }
        .b-popup-content-description__header{
            position: absolute;
            width: 145px;
            height: 45px;
            left: 1px;
            top: 0px;
        }
        .b-popup-content-description__subheader{
            position: absolute;
            width: 151px;
            height: 23px;
            left: 1px;
            top: 55px;
        }
        .b-popup-content-description__text{
            position: absolute;
            width: 350px;
            height: 102px;
            left: 1px;
            top: 118px;
            font-size: 15px;
        }
        .b-popup-content-description-list{
            position: absolute;
            width: 170px;
            height: 102px;
            left: 16px;
            top: 260px;
        }
        .b-popup-content-description-list li{
            margin-bottom: 12px;
        }
    }
    
    @media  (min-width: 768px) and (max-width: 1279px) {
        .header{
            height: 120px;
        }
        .header-wrapper{
            width: 708px;
            height: 60px;
        }
        .header-logo{
            width: 190px;
            height: 60px;
        }
        .header-logo__title{
            width: 190px;
            height: 35px;
            font-size: 32px;
        }
        .header-logo__subtitle{
            width: 190px;
            height: 15px;
            font-size: 13px;
        }
        .navbar-list{
            width: 443px;
            height: 27px;
        }
        .navbar-list__link{
            font-size: 15px;
        }
        .our-pets{
            height: 1853px;
        }
        .our-pets-content{
            width: 708px;
            height: 1603px;
            margin-top: 80px;
        }
        .our-pets-content__header{
            width: 410px;
            height: 90px;
            font-size: 35px;
        }
        .our-pets-content-slider{
            grid-template-columns: repeat(2, 270px);
            grid-template-rows: repeat(3, 435px);
            grid-row-gap: 30px;
            width: 580px;
            height: 1365px;
        }
        .pagination{
            width: 340px;
            height: 52px;
        }
        .footer{
            height: 639px;
        }
        .footer-content{
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            width: 708px;
            height: 609px;
        }
        .footer-content-contacts{
            width: 278px;
            height: 234px;
            margin: 0 20px 0 0;
        }
        .footer-content-contacts__header{
            width: 280px;
            height: 90px;
            font-size: 35px;
        }
        .footer-content-contacts__email{
            width: 278px;
            height: 32px;
        }
        .footer-content-contacts__email-icon{
            width: 40px;
            height: 32px;
        }
        .footer-content-contacts__email-address{
            width: 218px;
            height: 23px;
            font-size: 20px;
        }
        .footer-content-contacts__phone-number{
            width: 279px;
            height: 32px;
        }
        .footer-content-contacts__phone-number-icon{
            width: 40px;
            height: 32px;
        }
        .footer-content-contacts__phone-number-link{
            width: 219px;
            height: 23px;
            font-size: 20px;
        }
        .footer-content-locations{
            width: 302px;
            height: 234px;
            margin: 0 0 0 20px;
        }
        .footer-content-locations__header{
            width: 270px;
            height: 90px;
            font-size: 35px;
        }
        .footer-content-locations__central-street{
            width: 302px;
            height: 46px;
        }
        .footer-content-locations__central-street-icon{
            width: 22px;
            height: 32px;
        }
        .footer-content-locations__central-street-link{
            width: 260px;
            height: 46px;
            font-size: 20px;
        }
        .footer-content-locations__south-park{
            width: 302px;
            height: 32px;
        }
        .footer-content-locations__south-park-icon{
            width: 22px;
            height: 32px;
        }
        .footer-content-locations__south-park-link{
            width: 260px;
            height: 23px;
            font-size: 20px;
        }
        .footer-content__img{
            width: 300px;
            height: 310px;
            margin: 63px 0 0 0;
        }
        .b-popup-wrapper{
            width: 682px;
            height: 402px;
        }
        .b-popup .b-popup-content{
            width: 630px;
            height: 350px;
        }
        .b-popup-content__img img{
            width: 350px;
            height: 350px;
        }
        .b-popup-content-description{
            margin: 10px 29px 37px 11px;
        }
        .b-popup-content-description__header{
            left: 0px;
        }
        .b-popup-content-description__subheader{
            left: 0px;
        }
        .b-popup-content-description__text{
            width: 260px;
            height: 98px;
            left: 0px;
            top: 98px;
            font-size: 13px;
        }
        .b-popup-content-description-list{
            position: absolute;
            width: 260px;
            height: 102px;
            left: 15px;
            top: 216px;
        }
        .b-popup-content-description-list li{
            margin-bottom: 8px;
        }
    }

    @media  (min-width: 320px) and (max-width: 767px) {
        .header{
            height: 120px;
        }
        .header-wrapper{
            width: 100%;
            height: 60px;
            padding: 0 53px 0 10px;    
        }
        .header-logo{
            width: 190px;
            height: 60px;
        }
        .header-logo__title{
            width: 190px;
            height: 35px;
            font-size: 32px;
        }
        .header-logo__subtitle{
            width: 190px;
            height: 15px;
            font-size: 13px;
        }
        .our-pets{
            height: 1769px;
        }
        .our-pets-content{
            width: 300px;
            height: 1565px;
            margin-top: 42px;
        }
        .our-pets-content__header{
            width: 300px;
            height: 64px;
            font-size: 25px;
        }
        .our-pets-content-slider{
            grid-template-columns: repeat(1, 270px);
            grid-template-rows: repeat(3, 435px);
            grid-row-gap: 30px;
            width: 270px;
            height: 1365px;
        }
        .pagination{
            width: 300px;
            height: 52px;
        }
        .footer{
            height: 809px;
        }
        .footer-content{
            flex-direction: column;
            justify-content: space-between;
            width: 300px;
            height: 779px;
            text-align: center;
        }
        .footer-content-contacts{
            width: 278px;
            height: 208px; 
        }
        .footer-content-contacts__header{
            width: 278px;
            height: 64px;
            font-size: 25px;
        }
        .footer-content-contacts__email{
            width: 251px;
            height: 32px;
        }
        .footer-content-contacts__email-icon{
            width: 40px;
            height: 32px;
        }
        .footer-content-contacts__email-address{
            width: 218px;
            height: 23px;
            font-size: 20px;
        }
        .footer-content-contacts__phone-number{
            width: 239px;
            height: 32px;
        }
        .footer-content-contacts__phone-number-icon{
            width: 40px;
            height: 32px;
        }
        .footer-content-contacts__phone-number-link{
            width: 219px;
            height: 23px;
            font-size: 20px;
        }
        .footer-content-locations{
            width: 300px;
            height: 222px;
        }
        .footer-content-locations__header{
            width: 270px;
            height: 64px;
            font-size: 25px;
        }
        .footer-content-locations__central-street{
            width: 300px;
            height: 46px;
        }
        .footer-content-locations__central-street-icon{
            width: 22px;
            height: 32px;
        }
        .footer-content-locations__central-street-link{
            width: 260px;
            height: 46px;
            font-size: 20px;
        }
        .footer-content-locations__south-park{
            width: 300px;
            height: 32px;
        }
        .footer-content-locations__south-park-icon{
            width: 22px;
            height: 32px;
        }
        .footer-content-locations__south-park-link{
            width: 260px;
            height: 23px;
            font-size: 20px;
        }
        .footer-content__img{
            width: 260px;
            height: 269px;
        }
        .b-popup-wrapper{
            width: 271px;
            height: 393px;
        }
        .b-popup .b-popup-content{
            width: 240px;
            height: 341px;
        }
        .b-popup-content__img{
            display: none;
        }
        .b-popup-content__img img{
            display: none;
        }
        .b-popup-content-description{
            width: 240px;
            height: 341px;
            margin: 0;
        }
        .b-popup-content-description__header{
            width: 100%;
            height: 45px;
            text-align: center;
            margin: 10px 0;
        }
        .b-popup-content-description__subheader{
            width: 100%;
            height: 23px;
            text-align: center;
            margin: 10px 0;
        }
        .b-popup-content-description__text{
            width: 220px;
            height: auto;
            margin: 10px 10px;
            top: 98px;
            text-align: justify;
            font-size: 13px;
        }
        .b-popup-content-description-list{
            width: 100%;
            height: 102px;
            margin: 24px auto 10px 27px;
        }
        .b-popup-content-description-list li{
            margin-bottom: 8px;
        }
    }

/*BURGER MENU*/

.burger-menu_off{
    display: none;
}
.header-logo_off{
    display: none;
}
.navbar_off{
    display: none;
}
.header-logo_burger_off{
    display: none;
}
.burger-menu-header{
    width: 257px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 3;
    position: fixed;
    top: 30px;
    right: 53px;
}
.header-logo_burger{
    text-decoration: none;
    width: 215px;
    height: 60px;   
}
.header-logo__title_burger{
    height: 35px;
    font-family: Georgia;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}
.header-logo__subtitle_burger{
    position: relative;
    height: 15px;
    left: 4px;
    top: 10px;
    font-family: Arial;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.08rem;
    color: #FFFFFF;
}
.burger-menu_button {
    z-index: 3;
    background: none;
    cursor: pointer;
    border: none;
}
.burger-menu_active .burger-menu_icon {
    transform: rotate(90deg);
}
.burger-menu_nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 2;
    width: 320px;
    padding-top: 248px;
    height: 100%;
    background: #292929;
    right: -320px;
}
.burger-menu_active .burger-menu_nav {
    right: 0;
    transition: 0.4s;
}
.burger-menu_link {
    box-sizing: border-box;
    margin-bottom: 40px;
    height: 51px;
    font-family: Arial;
    font-size: 32px;
    line-height: 160%;
    text-decoration: none;
    text-align: center;
    color: #CDCDCD;
}
.burger-menu_link_active{
    color: #FAFAFA;
    border-bottom: solid 3px;
    border-color: #F1CDB3;
}
.burger-menu_link:hover {
    color: #FAFAFA;
    border-bottom: solid 3px;
    border-color: #F1CDB3;
}
.burger-menu_overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.burger-menu_active .burger-menu_overlay {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
}

/*HEADER*/

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background: #FFFFFF;
    width: 100%;
    z-index: 1;
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
}
.header-logo{
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    text-decoration: none;
}
.header-logo__title{
    font-family: Georgia;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
}
.header-logo__subtitle{
    position: relative;
    left: 4px;
    font-family: Arial;
    letter-spacing: 0.08rem;
    color: #292929;
}
.navbar{

}
.navbar-list{
    display: flex;
    position: relative;
    top: 16px;
    justify-content: space-between;
}
.navbar-list__item{
    display: flex;
}
.navbar-list__link{
    text-decoration: none;
    font-family: Arial;
    line-height: 160%;
    color: #545454;
}
.navbar-list__link:hover{
    border-bottom: solid 3px;
    border-color: #F1CDB3;
}
.navbar-list__link:disabled, .disabled{
    border: none;
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
}
.navbar-list__link_active{
    border-bottom: solid 3px;
    border-color: #F1CDB3;
}

/*OUR FRIENDS*/

.our-pets{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    background: #F6F6F6;
}
.our-pets-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.our-pets-content__header{
    font-family: Georgia;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.067em;
    color: #545454;
}
.our-pets-content-slider{
    display: grid;
    padding-top: 0px;
    justify-content: space-between;
}
.our-pets-content-slider-pets{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 270px;
    height: 435px;
    background: #FAFAFA;
    border-radius: 9px;
}
.our-pets-content-slider-pets:hover{
    background: #FFFFFF; 
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}
.our-pets-content-slider-header-pets{
    position: relative;
    width: auto;
    height: 23px;;
    top: 30px;
    font-family: Georgia;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.05em;
    color: #545454;
}
.our-pets-content-slider-button-pets{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 187px;
    height: 52px;
    top: 60px;
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
    font-family: Georgia;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    background: none;
}
.our-pets-content-slider-button-pets:hover{
    background: #FDDCC4;
    border: 2px solid #FDDCC4;
}
.pagination{
    display: flex;
    justify-content: space-between;
}
.pagination-button{
    width: 52px;
    height: 52px;
    border: none;
    box-sizing: border-box;
    border-radius: 100px;
    font-family: Georgia;
    font-size: 20px;
    line-height: 115%;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.06em;
    color: #292929;
}
.pagination-button:hover{
    background: #FDDCC4;
    border: 2px solid #FDDCC4;
}
.pagination-button:disabled{
    border: 2px solid #CDCDCD;
    background: none;
}
.pagination-start-page{
    background: none;
    border: 2px solid #F1CDB3;
    transform: rotate(-180deg);
    
}
.pagination-prev-page{
    background: none;
    border: 2px solid #F1CDB3;
    transform: rotate(-180deg);
}
.pagination-button__count-page{
    background: #F1CDB3;
}
.pagination-next-page{
    background: none;
    border: 2px solid #F1CDB3;
}
.pagination-end-page{
    background: none;
    border: 2px solid #F1CDB3;
}

/*POPUP*/
.b-popup{
    position:fixed;
    display: none;
    align-items: center;
    justify-content: center;
    top:0px;
    width:100%;
    min-height:100%;
    overflow:hidden;
    z-index: 1;
}
.b-popup-wrapper{
    display: flex;
    flex-direction: column;
}
.b-popup-close{
    align-self: flex-end;
    position: relative;
    top: -26px;
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
    background: none;
}
.b-popup-close:hover{
    background: #FDDCC4;
    border: 2px solid #FDDCC4;
}
.closeHover{
    background: #FDDCC4;
    border: 2px solid #FDDCC4;
}
.b-popup .b-popup-content{
    display: flex;
    position: relative;
    top: -26px;
    background-color: #FAFAFA;
    border-radius: 9px;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}
.b-popup-content__img img{
}
.b-popup-content-description{
    position: relative;
}
.b-popup-content-description__header{
    font-family: Georgia;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #000000;
}
.b-popup-content-description__subheader{
    font-family: Georgia;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #000000;
}
.b-popup-content-description__text{
    font-family: Georgia;
    line-height: 115%;
    letter-spacing: 0.059em;
    color: #000000;
}
.b-popup-content-description-list{
    font-family: Georgia;
    font-weight: bold;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
}
.b-popup-content-description-list span{
    color: #000000;
    letter-spacing: 0.05em;
}
.b-popup-content-description-list li{
    color:  #F1CDB3;            
}
.overlay{
    position:fixed;
    display: none;
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    z-index: -1;
}


/*FOOTER*/

.footer{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    background: url(../../assets/images/noise_transparent@2x.png), 
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, 
    #1A1A1C 100%), #211F20;
}
.footer-content{
    display: flex;
    align-items: center;
}
.footer-content-contacts{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-content-contacts__header{
    font-family: Georgia;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}
.footer-content-contacts__email{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}
.footer-content-contacts__email-icon{
}
.footer-content-contacts__email-address{
    font-family: Georgia;
    line-height: 115%;
    letter-spacing: 0.051em;
    color: #F1CDB3;
}
.footer-content-contacts__phone-number{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}
.footer-content-contacts__phone-number-icon{
}
.footer-content-contacts__phone-number-link{
    font-family: Georgia;
    line-height: 115%;
    letter-spacing: 0.055em;
    color: #F1CDB3;
}
.footer-content-locations{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-content-locations__header{
    font-family: Georgia;
    line-height: 130%;
    letter-spacing: 0.065em;         
    color: #FFFFFF;
}
.footer-content-locations__central-street{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}
.footer-content-locations__central-street-icon{
}
.footer-content-locations__central-street-link{
    font-family: Georgia;
    line-height: 115%;
    letter-spacing: 0.053em;
    color: #F1CDB3;
}
.footer-content-locations__south-park{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}
.footer-content-locations__south-park-icon{
}
.footer-content-locations__south-park-link{
    font-family: Georgia;
    line-height: 115%;
    letter-spacing: 0.056em;
    color: #F1CDB3;
}
.footer-content__img{
}


